{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Login
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Đăng nhập
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<style type="text/css">
    
    .preproduct{
        margin: 0px;
        padding: 3px;
        /* border: 1px dotted blue; */
    }
    .myproduct{
        padding: 5px 5px 5px 5px;
        /* background:khaki; */
        /* border: 1px darkolivegreen black; */
        /* border: 1px dotted red; */
    }

    @media (min-width: 768px) {
        .myproduct {
            height: 200px;
        }
    }
    .myproduct:hover{
        box-shadow: 5px 5px 5px #666;   
        background:khaki;
    }
</style>

<div style="height: 100px;"></div>

<div class="container-fluid">
    <div class="row">
    {% for hinhsanpham in ds_hinhsanpham %}
        <div class="col-md-4 preproduct">
        <div class="myproduct">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="mx-auto row productImg">
                        <img style="height: 100%; width: 100%; object-fit: cover;" src="/babyshop/assets/uploads/{{ hinhsanpham.hsp_tentaptin }}" class="img-fluid" width="100px"/>
                    </div>
                    <div class="row mx-auto">
                        <span style="color: red;"><small><b>{{ hinhsanpham.sp_gia }}</b></small></span>
                    </div>                    
                </div>
                <div class="col-md-8 col-xs-6" style="font-size: 1.1em;">
                    <b>{{ hinhsanpham.sp_ten }}</b><br/>
                    {{ hinhsanpham.sp_mota_ngan }}<br/>
                    <p>
                        {{ hinhsanpham.sp_mota_chitiet }}
                    </p>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
</div>


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/babyshop/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/babyshop/assets/vendor/popperjs/popper.min.js"></script>
    <script src="/babyshop/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/babyshop/assets/vendor/feather/feather.min.js"></script>

<!-- jquery-validation -->
<script src="/babyshop/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="/babyshop/assets/vendor/jquery-validation/localization/messages_vi.min.js"></script>

<!-- Custom script - Các file js do mình tự viết -->
<script src="/babyshop/assets/frontend/js/app.js"></script>

<!-- Block custom-scripts - Đục lỗ trên giao diện bố cục chung, đặt tên là `custom-scripts` -->
<!-- End block custom-scripts -->



{% endblock %}
{# End Nội dung trong block content #}
